body{
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: grey;
}



/* Estilização do formulário */
.form{
    padding: 2rem;
    margin-top: 5rem;

    display: flex;
    justify-content: center;

    background-color: rgba(255, 255, 255, 40%);
    border-radius: 10px;
}

.form-container{
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



/* Estilização do container de visualização */
.container{
    width: 100%;

    margin-top: 5rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}