.input-box{
    display: flex;
    flex-direction: column;
}

.input{
    width: 20rem;
    height: 1rem;

    padding: 1rem;

    outline: none;
    border-radius: 10px;
    border: 2px solid #000;

    font-size: 20px;
}

.mini-input{
    width: 5rem;
    height: 1rem;

    padding: 1rem;

    outline: none;
    border-radius: 10px;
    border: 2px solid #000;

    font-size: 20px;
}

.input-card{
    width: 20rem;

    padding: 0.3rem;
    margin-bottom: 0.6rem;

    border-top: none;
    border-left: none;
    border-right: none;

    font-size: 20px;
    background: none;
}

.mini-input-card{
    width: 5rem;

    padding: 0.3rem;
    margin-bottom: 0.6rem;

    border-top: none;
    border-left: none;
    border-right: none;

    font-size: 20px;
    background: none;
}